//Colors
$darkgrey: #222;
$darkblue: #2D3192;
$greyblue: #5F6773;
$orange: #FF931E;
$lightblue: #dfe4eb;
$lightblue2: #d5dde4;
$grey: #eee;
$white: #fff;

//Fonts
$open-sans: "Open Sans", sans-serif;
